.blog-item{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(15, 17, 20, 0.06);
    transition: box-shadow 250ms;
    max-width: 350px;
    &:hover{
        box-shadow: 0 0 10px rgba(21, 23, 27, 0.2);
    }
    &__image{
        min-height: 180px;
        max-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media (max-width: 992px) {
            min-height: auto;
        }

        @media (max-width: 768px) {
            min-height: 180px;
        }

        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__title{
        line-height: 26px;
        text-transform: uppercase;
    }
    &__text-wrapper{
        padding: 20px;
        max-height: 240px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media (max-width: 992px) {
          max-height: 313px;
        }
        @media (max-width: 768px) {
           max-height: 240px;
        }
    }
    &__text-excerpt{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 12px;
        flex-grow: 1;
        p{
            margin: 0;
        }
    }
    &__title{
        margin: 0 0 12px 0;
        font-size: 20px;
        font-family: 'Poppins BoldSemiBold', sans-serif;
    }
    &__category{
        margin-bottom: 4px;
        font-size: 12px;
        a{  
            color: #789AEE;
            text-decoration: none;
        }
    }
    &__date{
        font-size: 12px;
        line-height: 1.5;
        color: $primary;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.blog{
    .blog-item{
        @media (min-width: 768px) {
            &-container:first-child{
                width: 100%;
                .blog-item{
                    display: flex;
                    flex-direction: row;
                    padding: 20px 40px 20px 20px;
                    .blog-item__text-wrapper{
                        padding: 0;
                        width: 50%;
                        max-height: unset;
                        @media (max-width: 768px) {
                            max-height: 240px;
                         }
                    }
                    .blog-item__image{
                        padding-right: 40px;
                        width: 50%;
                        max-height: 427px;
                        img{
                            border-radius: 20px;
                        }
                    }
                }
                .blog-item__text-excerpt{
                    display: block;
                }
                .blog-item__text-wrapper{
                    display: flex;
                    flex-direction: column;
                }
                .blog-item__text-excerpt{
                    flex-grow: 1;
                }
                .blog-item__category{
                    font-size: 18px;
                    margin-bottom: 8px;
                    font-family: 'Poppins BoldSemiBold', sans-serif;
                }
                .blog-item__title{
                    margin-bottom: 16px;
                }
            }
        }

        .read-more-button {
            font-family: 'Poppins BoldSemiBold';
            font-size: 18px;
            line-height: 27px;
        }
    }
}


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 80px 20px;
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-family: 'Poppins BoldSemiBold';
        text-decoration: none;
        .prev, .next{
            position: relative;
            color: $primary;
        }
        .prev{
            padding-left: 30px;
            padding-right: 0;
            margin-right: 26px;
        }
        .next{
            padding-right: 30px;
            padding-left: 0;
            margin-left: 26px;
        }
        .next:after,
        .prev:before{
            content: " ";
            display: block;
            top: 5px;
            width: 10px;
            height: 10px;
            border: solid currentColor;
            border-width: 0 3px 3px 0;
            position: absolute;
        }
        .next:after {
            right: 2px;
            transform: rotate(-45deg);
        }
    
        .prev:before {
            left: 2px;
            transform: rotate(135deg);
        }
        a{
            display: block;
            font-size: 16px;
            text-decoration: none;
        }
    } 
}

.page-numbers{
    color: #7A7A7A;
    display: block;
    padding: 0 6px;
    &.current{
        color: $primary-text-emphasis;
    }
    
}

@media (min-width: 769px) and (max-width: 992px) {
    .blog-item-container:not(:first-child) {
        width: 50%;
    }
    }


@media (max-width: 768px) {
.blog-item-container {
    display: flex;
    justify-content: center;
}
}

.blog .blog-item-container:first-child .blog-item .blog-item__image img {
    height: 100%;
    object-fit: cover;
}

.blog-item-container{
    display: flex;
    align-items: stretch;
}

.blog .blog-item-container:first-child .blog-item {
    max-width: 100%;

    @media (max-width: 768px) {
        max-width: 350px;
    }
}