.blog-services-section.services-section {
background: #fff;
}

@media (min-width: 990px) {
.blog-services-section .block-recent-articles {
    display: flex;
    flex-wrap: wrap; 
    row-gap: 40px;
}

.blog-services-section .block-recent-articles .item-our-team-block {
    flex-basis: calc(100% / 3); 
}

.blog-services-section .block-recent-articles .item-our-team-block.first-element {
    flex-basis: 100%; 
    max-width: 100%;
    padding: 20px;
    flex-direction: row;
}

.blog-services-section  .block-recent-articles .item-our-team-block.first-element img {
    width: 520px;
    height: 425px;
    max-width: max-content;
    max-height: max-content;
    border-radius: 16px;
    object-fit: cover;
}

.blog-services-section .block-recent-articles 
.item-our-team-block.first-element .post-category > a {
    font-weight: 700;
    font-size: 18px;
}

.blog-services-section .block-recent-articles .item-our-team-block.first-element .post-excerpt {
    -webkit-line-clamp: unset;
}

.blog-services-section .item-our-team-block:first-child 
.row-bottom > span {
    font-weight: 500; 
}

.blog-services-section .block-recent-articles .item-our-team-block:first-child h4 {
    font-size: 22px;
}
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}