

.contact-us.services-hero-section{
    background: url("../img/contact-us-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-position: 50% center;
    }

    @media (max-width: 550px) {
        background: #D6E3F9;
    }


    p{
        max-width: 444px;
        color: #D6E3F9;
    }
    &__contacts{
        margin-top: 0!important;
    }
}

@media (max-width: 550px) {
    .contact-us.services-hero-section:after {
        background: url("../img/contact-hero-bg-sm.webp") no-repeat;
        background-size: cover;
    }
}

.contact-us .main-title-block {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.contact-item-container{
    border-bottom: 1px solid #D6E3F9;
    @media (max-width:992px) {
        margin-top: 10px;
        padding-bottom: 8px;
    }
}

.contact-item{
    margin: 40px 0;
    @media (max-width:992px) {
        margin: 24px 0;
    }
    @media (min-width:1200px) {
        width: auto;
        flex: none;
        padding-right: 30px;
    }
    
    .icon{
        color: #789AEE;
        margin-right: 6px;
    }
    &__header{
        margin-bottom: 8px;
        display: flex;
        align-items: center;
    }
    &__header-title{
        margin: 0;
    }
    &__body{

    }
}

.contact-areas{

    @media (min-width:991px) and (max-width:1200px) {
        
        .container-xl.p-0 .row {
            margin-right: 0;
            margin-left: 0; 
            
            .order-1.order-xl-0 {
                padding-left: 0;
             }
         }

            
    }


    @media (max-width:990px) {
        margin-bottom: 0; 
        
        .container-xl {
        max-width: 100%;
        padding: 0;
        --bs-gutter-x: 0;

        .row  {
            padding-right: 0;
            padding-left: 0;
            --bs-gutter-x: 0;


            .order-1.order-xl-0 {
                padding-left: 0;
                padding-right: 0;
                --bs-gutter-x: 0;
            }
        }
      }
    }

    .map{
        margin-top: 40px;
        margin-bottom: 40px;

        @media (max-width:990px) {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
        }

    }
    &__form{
        margin: 0 auto;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        @media (max-width:990px) {
            justify-content: center;
        }

        @media (max-width:550px) {
            padding-left: 20px;
            padding-right: 20px;
        }

    }
    textarea{
        min-height: 80px;
    }
    @media (max-width:990px) {
        .row{
            width: 100%;
        }
    }
}

.contact-form-wrapper{
    width: 100%;
    max-width: 380px;
}

.page-template-page-contact_us{
    .areas-section{
        padding: 0;
    }
    .areas-block{
        flex-direction: column;
        .areas-list{
            min-height: 188px;
        }
        .areas-block__left{
            margin-bottom: 15px;
        }
        .areas-block__right{
            position: static;
            height: auto;
        }
        .areas-block__left, .areas-block__right{
            width: 100%;
        }
    }
}

.areas-block{
    &__right{
        background-color: #D6E3F9;
    }
}

