*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    min-width: 360px;
}

// Fonts

h1,h2,h3,h4{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 1px;
    margin: 8px 0;
}

h1{
    font-size: 54px;

    @media (max-width:550px) {
        font-size: 32px;
    }
}

h2{
    font-size: 42px;

    @media (max-width:550px) {
        font-size: 28px;
    }
}

h3{
    font-size: 32px;
}

h4{
    font-size: 26px;
}

h5{
    font-size: 22px;
}

h6{
    font-size: 20px;
}

p{
    margin: 8px 0;
}

.icon{
    display: inline-block;
}


// Font classes

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


// Buttons

.read-more-button{
    position: relative;
    display: block;
    text-decoration: none;
    &:after {
        content: " ";
        display: block;
        top: 6px;
        right: -15px;
        width: 10px;
        height: 10px;
        border: solid #2C5697;
        border-width: 0 3px 3px 0;
        transform: rotate(-45deg);
        position: absolute;
      }
}

.btn {
    font-style: italic;
    text-transform: uppercase;
}

.btn-light {
    background-color: #fff;
    color: $primary;
}

.btn-medium{
    padding: 8px 20px;
    font-weight: 700;
    font-size: 18px;
}

.btn-secondary{
    color: $primary;
    background-color: $emphasis-color;
}


// Images

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

figure{
    margin: 0;
}


.img-preview--video::before{
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    background: url("../img/video-play-icon.svg") no-repeat;
}

.img-preview {
    position: relative;
    img{
        filter: brightness(0.8);
    }
}

// Lists


.post-list{
    padding: 0; 
    list-style: none;
    margin: 8px 0 24px 8px;
    &__item{
        position: relative;
        padding: 0;
        padding-left: 14px;
        margin: 16px 0 0 0;
        font-weight: bold;
        line-height: 26px;
        color: $primary;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 6px;
            height: 6px;
            background: #789AEE;
            border-radius: 100%;
        }
    }
}

.post-list__checkboxes{
    margin: 16px 0 0 0;
    .post-list__item{
        margin: 20px 0 0 0;
        padding-left: 38px;
        &:before{
            width: 26px;
            height: 26px;
            background: url("../img/list-item-icon.svg") no-repeat;
            border-radius: 0;
            top: 0;
        }
        
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

// Containers

.flex-column{
    display: flex;
    align-items: flex-start;
}

// Checkbox

.form-check-label, .form-check-input[type=radio]{
    cursor: pointer;
}

.form-check-inline{
    cursor: pointer;
    margin-right: 24px;
    &:last-child{
        margin-right: 0;
    }
}

.form-check-input:checked{
    border-color: $primary-text-emphasis;
    background-color: $primary-text-emphasis;
}

// Layout

.page-wrapper{
    display: flex;
    flex-direction: column;
}

.page-wrapper > section:not(:first-child){
    margin-top: 80px;
    @media (max-width: 576px) {
        margin-top: 60px;
      }
}


// Carousel 


.swiper{
    padding-top: 40px;
    &-button-prev, &-button-next{
        width: 18px;
        height: 18px;
        top: 80px
    }
    &-slide__card{
        background-color: #fff;
        border-radius: 16px;
        padding: 12px;
        min-height: 96px;
        box-shadow: 0px 1px 16px 0px #0E192D12;
        width: 100%;
    }
    &-button-prev{
        //left: -18px;
        left: 0;
    }
    &-button-next{
        //right: -18px;
        right: 0;
    }
    @media (max-width: 576px) {
        &-button-prev{
            left: 15px;
        }
        &-button-next{
            right: 15px;
        }
      }
    &-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
    }
    
    &-pagination{
        position: static;
        margin: 0;
        margin-top: 40px;
    }
    &-pagination-bullet{
        background-color: $primary-text-emphasis;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin: 0 6px;
    }
    &-button-prev:after, &-button-next:after{
        font-size: 18px;
        color: $primary-text-emphasis;
    }

}


.mobile-slider{
    position: relative;
    .swiper-button-prev, .swiper-button-next{
        top: auto;
        bottom: 5px;
    }
    @media (min-width: 576px) {
        .swiper-button-prev, .swiper-button-next{
            display: none;
        }
    }
}

.swiper-button-prev, .swiper-button-next{
    z-index: 1;
}

// Cards

.card{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 1px 17px 0px #0E192D12;
    padding: 10px;
}

// Address

address{
    margin: 0;
}

// Tabs

.tab{
    height: 36px;
    border: none;
    outline: none;
    border-bottom: 4px solid transparent;
    line-height: 1.5;
    margin: 0 16px;
    font-weight: 600;
    color: #BCBCBC;
    transition: all .2s linear;
    background: none;
    &--active{
        color: $primary;
        border-color: $primary;
    }
    &:hover{
        color: #789AEE;
    }
}

