.footer {
    background: #D6E3F9;
    padding-top: 103px;
    padding-bottom: 95px;
    &__title{
        margin: 12px 0;
        font-weight: bold;
    }
    &-brand{
        display: inline-block;
        margin-top: -62px;
        margin-bottom: 10px;
        width: 105px;
        height: 105px;
    }
    &__menu-buttons-wrapper{
        display: none;
        @media (max-width: 992px) {
            display: flex;
            justify-content: center;
            position: fixed;
            z-index: 1111;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 8px 20px;
            box-shadow: 0px 1px 17px 0px #0E192D12;
        }
    }
}


.footer__menu{
    display: flex;
    flex-direction: column;
    color: $primary;
    margin-bottom: 12px;
    .menu-item, .footer__menu-item{
        margin: 8px 0;
        line-height: 1.5;
        color: $primary;
        a{
            text-decoration: none;
        }
    }
}

.footer__contacts-menu{
    .footer__menu-item{
        margin: 10px 0;
    }
}