.footer {
    background: #D6E3F9;
    padding-top: 103px;
    padding-bottom: 75px;
    &__title{
        margin: 12px 0;
        font-weight: bold;
    }
    &__menu{
        &-item{
            margin: 8px 0;
            line-height: 1.5;
            color: $primary;
            a{
                text-decoration: none;
            }
        }
    }
    &-brand{
        display: block;
        margin-top: -62px;
    }
}

