.footer {
    background: #D6E3F9;
    padding-top: 48px;
    padding-bottom: 95px;
    &__title{
        margin: 12px 0;
        font-family: 'Poppins BoldSemiBold', sans-serif;
        font-weight: bold;
    }
    &-brand{
        display: inline-block;
        margin-top: -8px;
        margin-bottom: 10px;
    }
    &__menu-buttons-wrapper{
        display: none;
        @media (max-width: 991px) {
            display: flex;
            justify-content: center;
            position: fixed;
            z-index: 1111;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 8px 20px;
            box-shadow: 0px 1px 17px 0px #0E192D12;
        }
    }
}

button.footer__menu-button {
     @media (max-width: 550px) {
         width: 100%;
}
}


.footer__menu{
    display: flex;
    flex-direction: column;
    color: $primary;
    margin-bottom: 12px;
    .menu-item, .footer__menu-item{
        margin: 8px 0;
        line-height: 1.5;
        color: $primary;
        font-weight: 500;
        a{
            text-decoration: none;
            font-family: 'Poppins BoldSemiBold';
        }
    }
}

.footer__contacts-menu{
    .footer__menu-item{
        margin: 10px 0;
    }
}

.footer__menu .footer__menu-item .footer-link{
    font-family: 'Poppins BoldSemiBold', sans-serif;
    font-weight: bold;
}


.footer__social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    color: $primary;
    margin-left: 12px;
    height: 24px;
    width: 24px;
    position: relative;
    top: 3px;
    .icon{
        display: flex;
    }
    &:first-child{
        margin-left: 0;
    }
}

.footer-payments{
    margin-top: 51px;
    .payment-card{
        background-color: #fff;
        border-radius: 16px;
        padding: 12px 8px;
        width: 100%;
        min-height: 36px;
       
        @media (max-width: 768px) {
            margin: 8px;
        }
    }
    .payments-cards{
        @media (min-width: 768px) {
            background-color: #fff;
            border-radius: 16px;
            padding: 0 8px;
            margin: 0;
        }
        .payments-cards__item{
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: auto;
            }
        }
    }
}