// Banner

.front-banner{
    position: relative;
}

.front-banner:after{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: calc(50vw + 30px);
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from($primary-muted-bg), to($primary-muted-bg));
}
.front-banner:before{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: calc(50vw + 30px);
    height: 100%;
    background-image: linear-gradient(rgb(255 255 255 / 20%) 16px, transparent 1px), linear-gradient(to right, rgb(255 255 255 / 20%) 16px, transparent 16px);
    background-size: 497px 298px;
    background-position: -96px -17px;
}

.front-banner__container{
    position: relative;
    z-index: 1;
}

/// Section counters
.counters{
    &__item{
        position: relative;
    }
    &__value{
        color: $primary-muted-bg;
        font-size: 90px;
        line-height: 1;
        height: 90px;
        display: block;
    }
    &__text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: #0E192D;
        font-size: 22px;
    }
}


// quality-services

.quality-services{

    &__item{
        margin-top: 30px;
        padding: 32px 20px;
        border: 2px solid $primary-muted-bg;
        border-radius: 16px;
        box-shadow: 0 1px 17px rgb(14 25 45 / 7%);
    }
    &__icon{
        border-radius: 100%;
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: $primary-text-emphasis;
        color: #fff;
        margin-bottom: 8px;
    }
}

// Benefits

.benefits{
    &__list{
        padding: 0; 
        list-style: none;
        margin: 24px 0 0 0;
    }
    &__list-item{
        padding-left: 38px;
        margin: 10px 0;
        font-weight: bold;
        line-height: 26px;
        color: $primary;
        background: url("../img/list-item-icon.svg") no-repeat;
    }
}




.front-banner-mirrors{
    background-color: #FCF4DA;
    padding-top: 32px;
    padding-bottom: 32px;
}

.best-solutions{
    &__list{
        margin: 40px 0 0 0;
        padding: 0;
        counter-reset: items;
    }
    &__item{
        display: flex;
        position: relative;
        &::before{
            counter-increment: items; /* Увеличить значение счетчика */
            content: "0" counter(items); /* Отобразить значение счетчика */
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-size: 22px;
            line-height: 1.1;
            font-weight: bold;
            position: absolute; /* Абсолютное позиционирование */
            right: 30px; /* Расположить слева */
            top: 27px; /* Расположить сверху */
            z-index: 1;
            width: 46px; /* Ширина элемента счетчика */
            height: 46px; /* Высота элемента счетчика */
            background-color: $emphasis-color; /* Цвет фона элемента счетчика */
            border-radius: 50%; /* Сделать элемент счетчика круглым */
        }
    }
    &__item-title{
        color: $emphasis-color;
        text-shadow: 2px 0 #0E192D, -2px 0 #0E192D, 0 2px #0E192D, 0 -2px #0E192D,
        1px 1px #0E192D, -1px -1px #0E192D, 1px -1px #0E192D, -1px 1px #0E192D;;
    }
    &__item-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid $primary-text-emphasis;
        border-radius: 100%;
    }
    &__item-wrapper{
        border: 20px solid $primary-muted-bg;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;
        border-radius: 100%;
        background-color: #D6E3F9;
        max-width: 255px;
        max-height: 255px;
        min-width: 255px;
        min-height: 255px;
        text-align: center;
    }
}

.our-services{
    &__filter{
        margin: 32px 0 24px 0;
        text-align: center;
    }
    &__list-item{
        display: flex;
        min-height: 450px;
        padding: 28px 20px;
        color: #fff;
        position: relative;
        background-color: #000;
        &-title{
            margin: 0;
            text-transform: none;
        }
        &-text{
            font-size: 12px;
            line-height: 1.5;
            margin: 12px 0 20px 0;
        }
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            height: 100%;
            //filter: brightness(.8);
            opacity: .5;
            z-index: 0;
        }
    }
}
