// Banner

.front-banner{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: calc(50vw + 30px);
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from($primary-muted-bg), to($primary-muted-bg));
    }
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: calc(50vw + 30px);
        height: 100%;
        background-image: linear-gradient(rgb(255 255 255 / 20%) 16px, transparent 1px), linear-gradient(to right, rgb(255 255 255 / 20%) 16px, transparent 16px);
        background-size: 497px 298px;
        background-position: -96px -17px;
    }
    &__container{
        position: relative;
        z-index: 1;
    }
}

/// Section counters
.counters{
    &__item{
        position: relative;

        @media (max-width:990px) {
            width: 50%;
        }

        @media (max-width:550px) {
            &:nth-child(-n+2) {
                margin-bottom: 32px; 
            }
        }
    }
    &__value{
        color: $primary-muted-bg;
        font-size: 90px;
        line-height: 1;
        height: 90px;
        display: block;

        @media (max-width:550px) {
            font-size: 58px;
            height: 58px;
            }

         @media (max-width:400px) {
            font-size: 54px;
            height: 54px;
            }
    }
    &__text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: #0E192D;
        font-size: 22px;

        @media (max-width:550px) {
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            width: 100%;
            }
    }
}

.company-history__wrapper .offset-md-1 {
    @media (max-width: 1150px) {
        margin-left: 3%;
    }

    @media (max-width: 990px) {
        width: 100%;
        background-color: #D6E3F9;
        padding: 16px 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}

.company-history-block {
    @media (max-width: 990px) {
        flex-direction: column-reverse;
        gap: 32px;
    }
}

.company-history-block__left {
    @media (max-width: 990px) {
        width: 100%;
    }
}

.company-history-block__right>.gy-4 {
    @media (max-width: 990px) {
        margin: 0;
        max-width: 550px;
        justify-content: center;
    }
    @media (max-width:768px) {
        max-width: 450px;
    }
}

.company-history-block__right>.gy-4>.col-md-6 {
    @media (max-width: 768px) {
        width: max-content; 
        padding: 0 8px;

        &:nth-child(-n+2) {
            margin-top: 0;
        }

        &:nth-last-child(-n+2) {
            margin-top: 16px;
        }
    }
}

// quality-services

.quality-services{

    &__item{
        margin-top: 30px;
        padding: 32px 20px;
        border: 2px solid $primary-muted-bg;
        border-radius: 16px;
        box-shadow: 0 1px 17px rgb(14 25 45 / 7%);
        max-width: 350px;

        @media (max-width:550px) {
            padding: 20px;
            margin-top: 0;

           > h4 {
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                font-weight: 700;
            }
        }

    }
    &__icon{
        border-radius: 100%;
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: $primary-text-emphasis;
        color: #fff;
        margin-bottom: 8px;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width:550px) {
           background-size: 38px;
           width: 60px;
           height: 60px;
        }
    }
}

.quality-services__wrapper article:first-child .quality-services__icon{
    background-image: url(../img/stopwhatch.svg);
}

.quality-services__wrapper article:nth-child(2) .quality-services__icon{
    background-image: url(../img/hand.svg);
}

.quality-services__wrapper article:nth-child(3) .quality-services__icon{
    background-image: url(../img/ribbon.svg);
}

.quality-services__wrapper article:nth-child(4) .quality-services__icon{
    background-image: url(../img/guarantee.svg);
}

.quality-services__wrapper article:nth-child(5) .quality-services__icon{
    background-image: url(../img/card.svg);
}

.quality-services__wrapper article:nth-child(6) .quality-services__icon{
    background-image: url(../img/person.svg);
}


.contrast-banner{
    min-height: 400px;
    background: url(../img/window-bg-1.png) 10vw 25px, url(../img/window-bg-2.png) 26vw 100px, url(../img/window-bg-3.png) 65vw 100px, url(../img/window-bg-4.png) 79vw 20px, #FCF4DA;
    background-repeat: no-repeat;            
    &__text{
        padding: 60px 0;
    }
}

.best-solutions{
    &__list{
        margin: 40px 0 0 0;
        padding: 0;
        counter-reset: items;
    }
    &__item{
        display: flex;
        position: relative;
        width: 255px;
        &::before{
            counter-increment: items; /* Увеличить значение счетчика */
            content: "0" counter(items); /* Отобразить значение счетчика */
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-size: 22px;
            line-height: 1.1;
            font-weight: bold;
            position: absolute; /* Абсолютное позиционирование */
            right: 30px; /* Расположить слева */
            top: 27px; /* Расположить сверху */
            z-index: 1;
            width: 46px; /* Ширина элемента счетчика */
            height: 46px; /* Высота элемента счетчика */
            background-color: $emphasis-color; /* Цвет фона элемента счетчика */
            border-radius: 50%; /* Сделать элемент счетчика круглым */
        }
    }
    &__item-title{
        color: $emphasis-color;
        text-shadow: 2px 0 #0E192D, -2px 0 #0E192D, 0 2px #0E192D, 0 -2px #0E192D,
        1px 1px #0E192D, -1px -1px #0E192D, 1px -1px #0E192D, -1px 1px #0E192D;;
    }
    &__item-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid $primary-text-emphasis;
        border-radius: 100%;
    }
    &__item-wrapper{
        border: 20px solid #f7f9fe;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;
        border-radius: 100%;
        background-color: #f7f9fe;
        max-width: 255px;
        max-height: 255px;
        min-width: 255px;
        min-height: 255px;
        text-align: center;
    }
}


#front-banner-mirrors img{
    margin: 32px 0;
}

#front-banner-doors img{
    margin-top: 20px;
}



.our-services{
    &__filter{
        margin: 32px 0 24px 0;
        text-align: center;
    }
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 0;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__button{
        text-transform: none;
        font-size: 12px;
        line-height: 1.5;
        font-weight: normal;
        color: #0E192D;
        background-color: #D6E3F9;
        padding: 6px 16px;
        border-radius: 15px;
        font-style: normal;
        &:hover{
            color: $primary;
            background-color: #FFFF33;
        }
    }
    &__list-item{
        display: flex;
        min-height: 450px;
        padding: 28px 20px;
        color: #fff;
        position: relative;
        &-title{
            margin: 0;
            text-transform: none;
        }
        &-text{
            font-size: 12px;
            line-height: 1.5;
            margin: 12px 0 20px 0;
        }
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
        }
    }
}


.company-history{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto!important;
    position: relative;
    padding: 60px 0;
    img{
        max-height: 255px;
        max-width: 255px;

        @media (max-width: 1150px) {
            max-height: 240px;
            max-width: 240px;
        }
        @media (max-width: 768px) {
            max-height: 152px;
            max-width: 152px;
        }
    }
    &__wrapper{
        position: relative;
    }
    &::after{
        content: '';
        display: block;
        height: 660px;
        width: 515px;
        position: absolute;
        right: 0;
        // transform: translateX(50%);
        top: 0;
        background-color: #D6E3F9;
        z-index: -2;

        @media (max-width: 990px) {
            display: none;
        }
    }
    &::before{
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        // transform: translateX(50%);
        top: 0;
        display: block;
        height: 660px;
        width: 515px;
        background-image: linear-gradient(#fff 16px, transparent 1px), linear-gradient(to right, #fff 16px, transparent 16px);
        background-size: calc(50% + 8px) calc(50% + 5px);
        background-position: -16px -16px;
        z-index: -1;

        @media (max-width: 990px) {
            display: none;
        }
    }
}

.certification{
    background-color: #D6E3F9;
    padding: 60px 0;
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 120px;
            height: auto;
        }
    }
}

.our-works{
    .our-works__filter{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    img{
        width: 100%;
        height: 100%;
    }
}
    
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 3 / 1 / 6 / 2; }
.div3 { grid-area: 1 / 2 / 4 / 3; }
.div4 { grid-area: 4 / 2 / 6 / 3; }
.div5 { grid-area: 3 / 3 / 6 / 4; }
.div6 { grid-area: 1 / 3 / 3 / 4; }