// Banner

.front-banner{
    position: relative;
}

.front-banner:after{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: calc(50vw + 30px);
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#d6e3f9), to(#d6e3f9));
}
.front-banner:before{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: calc(50vw + 30px);
    height: 100%;
    background-image: linear-gradient(rgb(255 255 255 / 20%) 16px, transparent 1px), linear-gradient(to right, rgb(255 255 255 / 20%) 16px, transparent 16px);
    background-size: 497px 298px;
    background-position: -96px -17px;
}

.front-banner__container{
    position: relative;
    z-index: 1;
}