.navbar{
    padding: 0;
}


.page-wrapper > .header{
    position: relative;
    background-color: #fff;
    z-index: 2;
    .header__menu-button{
        margin-left: 30px;
    }
    .dropup, .dropend, .dropdown, .dropstart, .dropup-center, .dropdown-center{
        position: initial;
    }
}

.header__contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C5697;
    min-height: 64px;
    padding: 10px 0;
    color: #fff;
    @media (max-width: 991px) {
        min-height: 84px;
    }
    &-container{
        display: flex;
        justify-content: flex-end;
        .navbar-brand{
            margin: 0;
            padding: 0;
            margin-bottom: -60px;
            position: relative;
            z-index: 1;
            @media (max-width: 991px) {
                margin-bottom: 0;
            }
            @media (max-width: 991px) {
                &__image{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    &-item{
        padding: 10px 16px;
        display: flex;
        align-items: center;
        @media (min-width: 992px) {
            &:not(:first-of-type){
                border-left: 1px solid #D6E3F9;
            }
        }
    }
    a, time{
        text-decoration: none;
        color: $emphasis-color;
    }
}



.header__logo-image{
    @media (max-width: 991px) {
        max-width: 60px;
    }
}

.header__menu{
    color: $primary;
    &-container{
        justify-content: flex-end;
    }

    .menu-level-1 > .nav-link{
        color: $primary;
    }

    .nav-link{
        display: inline-block;
    }

    .current-menu-item{
        color: $primary;
        & >.nav-link{
           color: $primary;
        }
    }

    .dropdown-menu .dropdown-menu{
        position: initial;
    }
    .nav-item{
        margin: 0;
        padding: 25px 20px;
        .icon{
            transition: color 0.15s ease-in-out;
        }
        @media (min-width: 992px) {
            &.menu-level-1:hover {
                .dropdown-toggle{
                    position: relative;  
                    z-index: 1001;
                }
                .dropdown-menu{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    max-width: 1170px;
                    
                }
                .icon{
                    transform: rotate(180deg);
                }
               
            } 
        }  
    }
    &.navbar-nav .nav-link{
        padding: 0;
        font-weight: 600;
    }
    .dropdown-menu__arrows{
        display: none;
        position: absolute;
        width: 100%;
    }
    .icon{
        margin-left: 4px;
        color: $primary;
        position: relative;
    }
    
    .dropdown-menu{
        margin: 0;
        padding: 0 0 32px 0;
        border: none;
        border-radius: 0;
    }
}



.dropdown-toggle::after{
    display: none;
}

.header__menu-buttons-wrapper{
    display: flex;
    padding: 8px 20px;
    align-self: center;
    justify-content: center;
}



@media (min-width: 992px) {

    .header__menu > .menu-level-1:hover > .drop-down-wrapper{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        width: max-content;
        .dropdown-menu{
            position: static!important;
            max-width: 250px;
            .dropdown-menu{
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .menu-item-has-children.menu-level-1 > .dropdown-toggle{
        &::before, &::after {
            content: "";
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            display: none;
            left: 50%;
            transform: translateX(-50%);
            border-width: 16px;
            margin-left: 11px;
        }
        &::after {
            border-bottom-color: #fff;
            border-width: 16px;
            bottom: -26px;
        }
        &::before {
            border-bottom-color: #BCBCBC;
            bottom: -25px;
        }
    }

    .menu-item-has-children.menu-level-1:hover  > .dropdown-toggle{
        &::before, &::after {
            display: block;
        }
    }

    .header__menu.navbar-nav{
        .menu-item{
            position: relative;
            .dropdown-menu{
                padding: 10px 16px;
                border: 1px solid #BCBCBC;
            }
            .drop-down-wrapper{
                right: initial;
            }
        }
    }
   
}


.header__menu{
    .nav-item.menu-level-2{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        font-weight: bold;
        line-height: 26px;
        color: #7A7A7A;
        border-bottom: 0;
        &.current-menu-item{
            color: $primary;
        }
       
        &:last-child{
            border-bottom: 0;
        }
        .nav-link{
            text-transform: none;
            font-weight: normal;
            padding: 8px 14px;
            &:hover{
                color: #789AEE;
            }
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 18px;
            width: 6px;
            height: 6px;
            background: currentColor;
            border-radius: 100%;
        }
        &:hover{
            color: #789AEE;
        }
        &:active{
            color: $primary;
        } 
    }
}





@media (max-width: 991px) {
    .navbar-collapse.header__menu-container{
        transform: translateX(100%);
        min-height: 100vh;
        transition: transform ease-in-out .25s;
        &.collapse.show{
            transform: translateX(0%);
        }
    }

    .drop-down-wrapper > .dropdown-menu{
        padding: 8px 24px 16px;
    }
    .menu-level-2{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .header__menu .nav-item{
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #D6E3F9;
        position: relative;
        .nav-link{
            padding: 16px 20px;
            &:hover, &.show{
                color: #789AEE;
            }
            &.show + .icon{
                transform: rotate(180deg);
                color: #789AEE;
            }
        }
        .icon{
            position: absolute;
            right: 20px;
            top: 16px;
            pointer-events: none;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    .header__menu .menu-level-1{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:last-child{
            border-bottom: 1px solid #D6E3F9;
        }
        .nav-link{
            flex-grow: 1;
        }
        .drop-down-wrapper{
            min-width: 100%;
        }
    }

    .header__menu-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        z-index: 2;
        background-color: #fff;
    }
    .header__menu-button{
        display: none;
    }
    .header__menu{
        width: 100%;
        padding: 0 20px 20px 20px!important;
    }
    .navbar-collapse .navbar-toggler{
        margin: 24px;
        color: $primary;
        border: none;
        &:hover{
            color: #789AEE;
        }
    }
    .menu-level-1:first-child{
        border-top: 1px solid#D6E3F9;
    }
}


.nav-item{
    &::before, &::after{
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
}

.mobile-menu-item{
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
}


.menu-level-1:last-child{
    padding-right: 0;
}