.page-wrapper > .header{
    position: relative;
    background-color: #fff;
    z-index: 2;
    .header__menu-button{
        margin-left: 30px;
    }
    .dropup, .dropend, .dropdown, .dropstart, .dropup-center, .dropdown-center{
        position: initial;
    }
}

.header__contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C5697;
    min-height: 64px;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    @media (max-width: 992px) {
        min-height: 84px;
    }
    &-container{
        display: flex;
        justify-content: flex-end;
        .navbar-brand{
            margin: 0;
            padding: 0;
            margin-bottom: -60px;
            position: relative;
            z-index: 1;
            @media (max-width: 992px) {
                margin-bottom: 0;
            }
            @media (max-width: 992px) {
                &__image{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    &-item{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        @media (min-width: 992px) {
            &:not(:first-of-type){
                border-left: 1px solid #D6E3F9;
            }
        }
    }
    a{
        text-decoration: none;
        color: $emphasis-color;
        font-size: 16px;
        font-weight: 600;
    }
}

.header__social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    color: $primary;
    margin-left: 12px;
    height: 18px;
    width: 18px;
    .icon{
        display: flex;
    }
    &:first-child{
        margin-left: 0;
    }
}

.header__menu{
    color: $primary;
    &-container{
        justify-content: flex-end;
    }

    .nav-link{
        display: inline-block;
    }

    .current-menu-item .nav-link{
        color: $primary!important;
    }

    .dropdown-menu .dropdown-menu{
        position: initial;
    }
    .nav-item{
        margin: 0;
        padding: 25px;
        @media (min-width: 993px) {
            &.menu-level-1:hover {
                .dropdown-toggle{
                    position: relative;  
                    z-index: 1001;
                }
                & > .nav-link, & > .icon{
                    color: #789AEE;
                }
                .dropdown-menu{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    max-width: 1170px;
                    
                }
                .icon{
                    transform: rotate(180deg);
                }
               
            } 
        }  
    }
    &.navbar-nav .nav-link{
        padding: 0;
        color: currentColor;
        font-weight: 600;
    }
    .dropdown-menu__arrows{
        display: none;
        position: absolute;
        width: 100%;
    }
    
        
    .icon{
        margin-left: 4px;
        color: $primary;
        position: relative;
    }
    

    
    .dropdown-menu{
        margin: 0;
        padding: 0 0 32px 0;
        border: none;
        border-radius: 0;
        
        
    }
    &-title{
        font-weight: bold;
        color: $primary;
    }
    &-submenu{  
        margin: 20px 0 40px 0;
    }
}

.navbar{
    padding: 0;
}

.dropdown-toggle::after{
    display: none;
}

.header__menu-buttons-wrapper{
    display: flex;
    padding: 8px 20px;
    align-self: center;
    justify-content: center;
}



@media (min-width: 992px) {
    .menu-level-2{
        & > .nav-link{   
            pointer-events: none;
        }
    }

    .header__menu > .menu-level-1:hover > .drop-down-wrapper{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        border-top: 1px solid #D6E3F9;
        border-bottom: 1px solid #D6E3F9;
        background-color: #fff;
        .dropdown-menu{
            position: static!important;
            .dropdown-menu{
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .dropdown-menu.container-xl{
        & > .menu-item{
            width: 25%;
            margin: 0;
            padding: 32px 15px 0 15px;
            &:last-child{
                margin-top: -107px;
            }
        }
    }

    .header__menu.navbar-nav .menu-level-2{
        & > .nav-link.dropdown-toggle{
            color: $primary;
            text-transform: uppercase;
            margin: 0 0 12px 0;
            //pointer-events: none;
        }
        .icon{
                display: none;
        }
        & > .drop-down-wrapper > .dropdown-menu{
            padding: 0;
        }
    }

    .menu-item-has-children.menu-level-1 > .dropdown-toggle{
        &::before, &::after {
            content: "";
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            display: none;
            left: 50%;
            transform: translateX(-50%);
            border-width: 16px;
            margin: 0;
        }
        &::after {
            border-bottom-color: #fff;
            border-width: 16px;
            margin: 0;
            bottom: -26px;
        }
        &::before {
            border-bottom-color: #D6E3F9;
            bottom: -25px;
        }
    }

    .menu-item-has-children.menu-level-1:hover  > .dropdown-toggle{
        &::before, &::after {
            display: block;
        }
    }

    .menu-level-2 > .dropdown-toggle::after{
        display: none;
    }
    .header__menu.navbar-nav{
        .menu-item.simple-menu{
            position: relative;
            .dropdown-menu{
                padding: 10px 16px;
                border-left: 1px solid #D6E3F9;
                border-right: 1px solid #D6E3F9;
            }
            .drop-down-wrapper{
                right: initial;
            }
        }
    }
   
}

.menu-level-2{
    color: $primary;
    & > .nav-link{   
        text-transform: uppercase;
    }
}

.header__menu{
    .nav-item.menu-level-3, .menu-item.simple-menu .menu-level-2{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        font-weight: bold;
        line-height: 26px;
        color: #7A7A7A;
        border-bottom: 0;
        
        &:last-child{
            border-bottom: 0;
        }
        .nav-link{
            text-transform: none;
            font-weight: normal;
            padding: 8px 14px;
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 18px;
            width: 6px;
            height: 6px;
            background: currentColor;
            border-radius: 100%;
        }
        &:hover{
            color: #789AEE;
        }
        &:active{
            color: $primary;
        } 
    }
}

.menu-item.simple-menu .dropdown-menu{
    flex-direction: column;
    .nav-link{   
        pointer-events: initial;
        white-space: nowrap;
    }
}




@media (max-width: 992px) {
    .navbar-collapse.header__menu-container{
        transform: translateX(100%);
        min-height: 100vh;
        transition: transform ease-in-out .25s;
        &.collapse.show{
            transform: translateX(0%);
        }
    }

    .drop-down-wrapper > .dropdown-menu{
        padding: 8px 24px 16px;
    }
    .menu-level-2{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .header__menu .nav-item{
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #D6E3F9;
        position: relative;
        .nav-link{
            padding: 16px 20px;
            &:hover, &.show{
                color: #789AEE;
            }
            &.show + .icon{
                transform: rotate(180deg);
                color: #789AEE;
            }
        }
        .icon{
            position: absolute;
            right: 20px;
            top: 16px;
            pointer-events: none;
        }
        &:last-child{
            border-bottom: 0;
        }
        &.menu-level-2{
            &.menu-item-has-children{
                & > .nav-link{
                    color: #0E192D;
                }
            }
            .dropdown-menu{
                .menu-level-3:last-child{
                    border-bottom: 0;
                }
            }
        }
    }
    .header__menu .menu-level-1{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:last-child{
            border-bottom: 1px solid #D6E3F9;
        }
        .nav-link{
            flex-grow: 1;
        }
        .drop-down-wrapper{
            min-width: 100%;
        }
    }
    .menu-level-3{
        .nav-link{
            display: block;
        }
    }
    .header__menu-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        z-index: 2;
        background-color: #fff;
    }
    .header__menu-button{
        display: none;
    }
    .header__menu{
        width: 100%;
        padding: 0 20px 20px 20px!important;
    }
    .navbar-collapse .navbar-toggler{
        margin: 24px;
        color: $primary;
        border: none;
        &:hover{
            color: #789AEE;
        }
    }
    .menu-level-1:first-child{
        border-top: 1px solid#D6E3F9;
    }
}


.nav-item{
    &::before, &::after{
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
}