.modal-dialog{
    height: 100%;
    margin: 40px auto 80px auto;
    display: flex;
    align-items: center;
    max-width: max-content;
}

.modal__content{
    align-items: center;
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 0 15px;
    max-width: 100%;
    .btn-close{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 26px;
        top: 8px;
        color: #fff;
        background: none;
        padding: 0;
        z-index: 1;
    }
    form{
        position: relative;
    }
}

.modal-backdrop.show{
    opacity: .7;
}