
.post{
    display: flex;
    flex-direction: column;
    &__title{
        margin: 0 0 16px 0;
    }
    &__content{
        color: #7A7A7A;
        p{
            margin-bottom: 16px;
            margin-top: 0;
        }
        ul{
            margin: 0 0 16px 0;
            padding: 0 0 0 18px;
            list-style: initial;
        }
        h3{
            color: $primary;
            text-transform: none;
            margin-top: 46px;
            margin-bottom: 16px;
            font-size: 22px;
            line-height: 24px;
        }
    }
}

.posts-container{
    margin-bottom: 80px;
    margin-top: 32px;
}

.post-content {
    ul{
        list-style: disc;
        padding-left: 16px;
        li{
            margin-bottom: 16px;
        }
    }
    .collapse{
        margin-bottom: 40px;
        display: block;
        max-height: 270px;
        position: relative;
        overflow: hidden;
        &:after{
            content: '';
            height: 32px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(255 255 255 / 0%) 100%);
        }
        &.show{
            max-height: none;
            &:after{
                display: none;
            }
        }
    }
}

.post-form{
    position: sticky;
    top: 64px;
    left: 0;
}

.read-more-button{
    &[aria-expanded="false"]{
        &:after{
            transform: rotate(45deg);
            top: 4px;
        }
    }
    &[aria-expanded="true"]{
        display: none;
        &:after{
            transform: rotate(-136deg);
            top: 9px;
        }
    }
}