.main-post-content {
    padding: 80px 0;

    h1 {
        color: #0E192D;
        font-size: 42px;
    }

    h1 a {
        text-decoration: none;
        color: #0E192D;
    }

    p {
        color: #7A7A7A;
        font-size: 16px;
    }
}