//section about us hero

.rewiews-table-section.services-hero-section {
    background: url("../img/rewiews-hero-img.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-position: 50% center;
    }

    @media (max-width: 550px) {
        background: #D6E3F9;
    }
}

@media (max-width: 550px) {
    .rewiews-table-section.services-hero-section:after {
        background: url("../img/rewiews-hero-img-sm.webp") no-repeat;
        background-size: cover;
    }
}

.rewiews-table-section .main-title-block {
    @media (max-width: 768px) {
        width: 100%;
    }
}

//google rewiews table section

.google-reviews-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-top: 40px;

    @media (max-width:990px) {
        row-gap: 32px;
        column-gap: 20px;
    }

    @media (max-width:550px) {
        margin-top: 32px;
    }
}

.google-reviews-item__desc:not(.expanded) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.google-reviews-item__desc {
    max-height: 72px; 
    overflow: hidden;
    transition: max-height 1.3s ease;
}

.google-reviews-item__desc.expanded {
    max-height: 1000px; 
}

.google-reviews-item .read-more-button {
    color: #789AEE;
    font-size: 12px;
}

.google-reviews-item .read-more-button:after {
    width: 8px;
    height: 7px;
    border: solid #789AEE;
    border-width: 0 2px 2px 0;
    top: 3px;
}

.google-reviews-item__desc.expanded  + p + .read-more-button[aria-expanded=false]:after,
.google-reviews-item__desc.expanded  + span + .read-more-button[aria-expanded=false]:after  {
    transform: rotate(225deg);
    top: 6px;
}
