// Hero section

.services-hub-hero-section {
    background: url("../img/services/services-hero-img.png") no-repeat;
    height: 300px;
    background-position: center;
    display: flex;
    align-items: center;
    background-size: cover;

    &__title {
        color: #fff;
        margin: 0;
    }

    &__desc {
        color: #D6E3F9;
        margin: 0;
    }

    @media (max-width: 768px) {
        background-position: 50% center;
    }

    @media (max-width: 550px) {
        background: #D6E3F9;
        display: flex;
        flex-direction: column;
        height: auto;

        &__title {
            color: #0E192D;
            font-size: 32px;
        }

        &__desc {
            color: #7A7A7A;
        }
    }
}

.main-title-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 550px) {
    .services-hub-hero-section:after {
        content: ' ';
        background: url("../img/services/services-hero-img-sm.png") no-repeat;
        height: 330px;
        width: 100%;
        background-size: cover;
    }

    .main-title-block {
        padding: 40px 0;
    }
}

// All services

.services-section {
    padding: 80px 0;
    margin: 0 !important;
    background-color: #D6E3F9;

    &__title {
        margin: 0;
    }

    @media (max-width: 550px) {
        padding: 60px 0;

        &__title {
            font-size: 28px;
        }
    }
}


.services_tabs {
    margin-bottom: 20px;
}

.filter-button {
    border-radius: unset;
    padding: 10px;
    border: none;
    border-bottom: 4px solid transparent;
    color: #BCBCBC;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
}

.filter-button {

    &:hover,
    &:focus {
        color: $primary-text-emphasis;
        background-color: #D6E3F9;
    }
}

.filter-button.active {

    border-bottom: 4px solid $primary;
    color: $primary;
}

.port-image {
    width: 100%;
}


.services_list {
    row-gap: 40px;
    column-gap: 30px;
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width: 768px) {
        row-gap: 20px;
        column-gap: 16px;
        margin: 0 auto;
    }

    @media (max-width: 550px) {
        max-width: 320px;
    }

}

.service_item {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    min-width: 160px;
    gap: 16px;
    height: 212px;


    &__image {
        width: 100%;
        transition-property: transform;
        transition-duration: 350ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        object-fit: cover;
    }

    &__title {
        margin: 0;
    }

    &__title a{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: $primary;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        display: block;
        // width: 85%;
        text-decoration: none;

        transition-property: text-decoration, color;
        transition-duration: 350ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


    @media (max-width:768px) {
        max-width: 152px;
        min-width: 152px;
        padding: 20px 16px;
    }
}

.service_item {

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.service_item:hover .service_item__title a,
.service_item:focus .service_item__title a {
    color: $primary-text-emphasis;
    text-decoration: underline;
}

.service_item__bl {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        height: 100%;
        display: flex;
    }
}

.service_item:hover .service_item__image,
.service_item:focus .service_item__image {
    transform: scale(1.1);

}


//Section areas

.areas-section {
    position: relative;
    padding: 60px 0;
    min-height: 450px;
    max-width: 1440px;
    margin: 0 auto !important;
    width: 100%;

    @media (max-width:990px) {
        padding-bottom: 0;
    }
}

.areas-block {
    display: flex;

    @media (max-width:990px) {
        flex-direction: column;
        gap: 32px;

    }

    &__right {
        position: absolute;
        width: 640px;
        height: 330px;
        right: 0;

        @media (max-width:1200px) {
            width: 540px;
        }

        @media (max-width:1150px) {
            width: 443px;
            bottom: 0px;
        }

        @media (max-width:990px) {
            position: static;
            width: 100%;
            height: auto;
        }
    }

    &__left {
        width: 50%;

        @media (max-width:990px) {
            width: 100%;
        }
    }


    &__title {
        margin: 0;
        margin-bottom: 32px;

        @media (max-width:550px) {
            font-size: 28px;
        }
    }

    &__desc {
        margin: 0;
        margin-bottom: 20px;
    }
}

.areas-list {

    @media (max-width:550px) {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    &__city {
        border-right: 2px solid #D6E3F9;
        gap: 24px;
        display: flex;
        flex-direction: column;
        padding-right: 51px;
    
        @media (max-width:1300px) {
            padding-right: 25px;
        }
    
        @media (max-width:550px) {
            padding: 0;
            padding-bottom: 32px;
            border-right: none;
            border-bottom: 2px solid #D6E3F9;
        }
    }

    &__location {
        gap: 24px;
        display: flex;
        flex-direction: column;
        max-height: 180px;
        flex-wrap: wrap;
        padding-left: 51px;
    
        @media (max-width:1300px) {
            padding-left: 25px;
        }
    
        @media (max-width:550px) {
            padding: 0;
            padding-top: 32px;
            max-height: 214px;
        }
    }
}

.filter-button-city {
    width: 190px;
    background: #D6E3F9;
    color: $primary;
    border-radius: 16px;
    font-style: normal;
    padding: 8px 0;
    line-height: 24px;
    font-size: 16px;

}

.filter-button-city {
    &:hover,
    &:focus {
        background: $primary-text-emphasis;
    }
}

.filter-button-city.active {
    background: #FFFF33;
}

.areas-list__location button {
    font-style: normal;
    display: flex;
    padding: 0;
    color: #7A7A7A;
    text-transform: capitalize;
    font-size: 16px;
    align-items: center;

}

.areas-list__location button:before {
    content: ' ';
    background: url("../img/location-icon.svg") no-repeat;
    height: 18px;
    width: 18px;
}

.areas-block__right .ratio {
    max-height: 330px;
}

@media (max-width:990px) {
    .areas-section .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 990px) {
    .areas-block__left {
        width: 100%;
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .areas-block__left {
        max-width: 540px;
    }
}





//scroll categories

.services_tabs_scrl {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 100%;
    position: relative;
}

.scroll-arrow {
    position: sticky;
    top: 12%;
    right: 0;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
    display: none;
    background-color: #D6E3F9;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 7px;
}

.blog_tabs .scroll-arrow {
    background-color: #fff;
}

.scroll-arrow:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border: solid #2C5697;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
}

.scroll-arrow.scroll-arrow-left:after {
    content: " ";

    transform: rotate(135deg);

}

.scroll-arrow.scroll-arrow-left {
    position: sticky;
    right: calc(100% - 20px);
}