#portfolio {
    padding: 80px 0;
    margin: 0 auto;
    background-color: #D6E3F9;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #db584e;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #db584e;

}
.btn-default:active .filter-button:active
{
    background-color: #db584e;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}