#services {
    padding: 80px 0;
    margin: 0 auto;
    background-color: #D6E3F9;
}


.services_tabs {
    margin-bottom: 20px;
}

.filter-button
{ 
    border-radius: unset;
    padding: 10px;
    border: none;
    border-bottom: 4px solid transparent;
    color: #BCBCBC;
    font-style: normal;
    text-align: center;
   font-weight: 600;
   text-transform: capitalize;
}
.filter-button:hover
{
    color: #789AEE;

}
.filter-button.active {
   
    border-bottom: 4px solid #2C5697;
    color: #2C5697;
}

.port-image
{
    width: 100%;
}


.services_list {
    row-gap: 40px;
    column-gap: 30px;
    justify-content: center;
}

.service_item {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    min-width: 160px;
    gap: 16px;

    &__image{
        border-radius: 8px;
        }

    &__title{
     color: #2C5697;
     font-size: 12px;
     text-align: center;
     line-height: 18px;
     margin: 0;
     max-width: 85%;
     }
}