// Hero section

.services-hero-section {
    background: url("../img/services/section-hero-serv-img.png") no-repeat;
    height: 300px;
    background-position: center;
    display: flex;
    align-items: center;

    &__title {
        color: #fff;
        margin: 0;
    }

    &__desc {
        color: #D6E3F9;
        margin: 0;
    }

    @media (max-width: 768px) {
        background-position: 50% center;
    }

    @media (max-width: 550px) {
        background: #D6E3F9;
        display: flex;
        flex-direction: column;
        height: auto;

        &__title {
            color: #0E192D;
            font-size: 32px;
        }

        &__desc {
            color: #7A7A7A;
        }
    }
}

@media (max-width: 550px) {
    .services-hero-section:after {
        content: ' ';
        background: url("../img/services/section-hero-serv-img-sm.png") no-repeat;
        height: 330px;
        width: 100%;
        background-size: cover;
    }
}

//Advantages section

.advantages-section .container-bg {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #FCF4DA;
}

.advantages-block {
    display: flex;

    &__left {}

    &__right {
        max-width: 605px;
        padding-left: 60px;
        padding-top: 37px;
    }
}


//Contact banner section

.contact-banner-section {
    background: url("../img/request-banner.png") no-repeat;
    height: 367px;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 60px 0;

    @media (max-width: 990px) {
        height: auto;
        background-size: cover;
    }

    @media (max-width:768px) {
        padding: 32px 0;
    }
}

.contact-banner {
    max-width: 1030px;

    &__title {
        text-align: center;
        color: #fff;
        margin: 0;
        margin-bottom: 16px;

        @media (max-width:550px) {
            font-size: 28px;
        }
    }

    &__desc {
        text-align: center;
        color: #D6E3F9;
        margin: 0;
        margin-bottom: 40px;
    }


    &__btn {
        display: block;
        margin: 0 auto;
    }

}


//Google reviews section

.swiper-google-reviews {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.swiper-google-reviews .swiper-slide {
    padding: 15px;
    // margin: 10px;
    display: flex;
    justify-content: center;
    // max-width: 380px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.google-reviews-item {
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(14, 25, 45, 0.1);
    padding: 32px 20px;
    max-width: 350px;

    &__top {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 8px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title>h4 {
        font-size: 18px;
        color: $primary;
    }

    &__desc {
        color: #7A7A7A;
    }

    &__date {
        color: $primary-text-emphasis;
        font-size: 12px;
        display: block;
        float: right;
    }
}

.google-reviews-item__top:before {
    content: ' ';
    background: url("../img/google-bus-logo.svg") no-repeat;
    height: 48px;
    width: 115px;
    display: block;
}

.google-reviews-item__title>h4:after {
    content: ' ';
    background: url("../img/stars.svg") no-repeat;
    height: 17px;
    width: 105px;
    display: block;
}

.swiper-google-reviews .swiper-pagination {
    position: static;
}

.swiper-google-reviews .swiper-button-next:after,
.swiper-google-reviews .swiper-button-prev:after {
    font-size: 13px;
}

.swiper-google-reviews .swiper-button-next,
.swiper-google-reviews .swiper-button-prev {
    width: 18px;
    height: 18px;
    top: unset;
    bottom: 0;

}

.swiper-google-reviews .swiper-button-prev {
    left: 35%;
}

.swiper-google-reviews .swiper-button-next {
    right: 35%;
}

.swiper-google-reviews .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $primary-muted-bg;
}

.swiper-google-reviews .swiper-pagination-bullet-active {
    background: $primary-text-emphasis;
}